body {
    background-color: #1f1f1f;
}

.container {
    background-color: white;
}

address {
    font-size: 11px;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
        padding: 25px 50px;
        margin: 20px auto;
    }
}

a i[class^="icon-"],
a i[class*=" icon-"] {
    color: black;
}

a:hover i[class^="icon-"],
a:hover i[class*=" icon-"] {
    color: #2a6496;
    text-decoration: none;
}
